---
layout: layout.liquid
title: 11ty Boilerplate
---

<div class ="grid-container">
   
    <div class ="module large">
        <div class ="star"></div>
        <h1>Sun</h1>
        <p>Type G2V</p>
    </div>

    <div class ="module regular">
        <div class ="mercury"></div>
        <h1>Mercury</h1>
        <p>0.4 AU</p>
    </div>

    <div class ="module regular">
        <div class ="venus"></div>
        <h1>Venus</h1>
        <p>0.7 AU</p>
    </div>

    <div class ="module regular">
        <div class ="earth"></div>
        <h1>Earth</h1>
        <p>1.0 AU</p>
    </div>

    <div class ="module regular">
        <div class ="mars"></div>
        <h1>Mars</h1>
        <p>1.5 AU</p>
    </div>

    <div class ="module regular">
        <div class ="jupiter"></div>
        <h1>Jupiter</h1>
        <p>5.2 AU</p>
    </div>

    <div class ="module regular">
        <div class ="saturn"></div>
        <h1>Saturn</h1>
        <p>9.6 AU</p>
    </div>

    <div class ="module regular">
        <div class ="uranus"></div>
        <h1>Uranus</h1>
        <p>19.2 AU</p>
    </div>

    <div class ="module regular">
        <div class ="neptune"></div>
        <h1>Neptune</h1>
        <p>30.0 AU</p>
    </div>

</div>