:root{
    --card-radius: 20px;
    --card-font-color: #000000;
    --planet-width: 100px;
    --planet-height: 100px;
    --planet-border-radius: 50%;
    --planet-color: #fcfcfc;
}

body {
    font-family: Helvetica, sans-serif;
    color: #eaeaf0;
    background: #2D3142;
    padding: 0 40px;
    text-align: left;
}

header{
    padding-bottom: 100px;
}

.grid-container{
    display: grid;
    grid-template-columns: 2fr repeat(4, 1fr);
    grid-gap: 20px;
    text-align: center;
}

.module {
    background: #ccc;
}

.module.large{
    grid-row: span 2;
    border-radius: var(--card-radius);
    color: var(--card-font-color);
}

.module.regular{
    grid-column: span 1;
    border-radius: var(--card-radius);
    color: var(--card-font-color);
}
.star{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: var(--planet-color);
}
.mercury{
    width: var(--planet-width);
    height: var(--planet-height);
    border-radius: var(--planet-border-radius);
    background-color: var(--planet-color);
}
.venus{
    width: var(--planet-width);
    height: var(--planet-height);
    border-radius: var(--planet-border-radius);
    background-color: var(--planet-color);
}
.earth{
    width: var(--planet-width);
    height: var(--planet-height);
    border-radius: var(--planet-border-radius);
    background-color: var(--planet-color);
}
.mars{
    width: var(--planet-width);
    height: var(--planet-height);
    border-radius: var(--planet-border-radius);
    background-color: var(--planet-color);
}
.jupiter{
    width: var(--planet-width);
    height: var(--planet-height);
    border-radius: var(--planet-border-radius);
    background-color: var(--planet-color);
}
.saturn{
    width: var(--planet-width);
    height: var(--planet-height);
    border-radius: var(--planet-border-radius);
    background-color: var(--planet-color);
}
.uranus{
    width: var(--planet-width);
    height: var(--planet-height);
    border-radius: var(--planet-border-radius);
    background-color: var(--planet-color);
}
.neptune{
    width: var(--planet-width);
    height: var(--planet-height);
    border-radius: var(--planet-border-radius);
    background-color: var(--planet-color);
}